<footer class="container-footer">
    <div class="max-container footer-links">
        <section class="container-links">
            <ul class="dep-links">
                <h4>Atendimento</h4>

                <li>
                    <a href="tel:(11)3105-1144"><img src="/arquivos/icon-tel.png" />(11)3105-1144</a>
                </li>
                <li>
                    <a href="tel:(11)96899-5811"><img src="/arquivos/icon-zap.png" />(11) 96899-5811</a>
                </li>
            </ul>
        </section>
        <section class="container-links">
            <ul class="dep-links">
                <h4>SEGUE A GENTE</h4>
                <a href="https://www.facebook.com/oficialeconomica/" class="icon-social">
                    <img src="/arquivos/fb.png" alt="facebook" class="img-resposive" />
                </a>
                <a href="https://www.instagram.com/oficialeconomica/?hl=pt-br" class="icon-social">
                    <img src="/arquivos/insta.png" alt="instagram" class="img-resposive" />
                </a>
                <a href="" class="icon-social">
                    <img src="/arquivos/yt.png" alt="youtube" class="img-resposive" />
                </a>
            </ul>
        </section>
        <section class="container-links">
            <ul class="dep-links">
                <h4>FORMAS DE PAGAMENTO</h4>
                <div class="icon-pag-container">
                    <img src="/arquivos/selo-hipercard.png" alt="Hipercard" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-mastercard.png" alt="MasterCard" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-pagseguro.png" alt="PagSeguro" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-visa.png" alt="Visa" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-diners.png" alt="Diners" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-elo.png" alt="Elo" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-amex.png" alt="American express" class="icon-pag img-resposive" />
                    <img src="/arquivos/selo-boleto.png" alt="Boleto" class="icon-pag img-resposive" />
                </div>
            </ul>
        </section>

    </div>
</footer>
<footer class="container-vinci">
    <div class="max-container">
        <span>LePink Lingerie</span>
        <span>2020 © Todos os direitos reservados.</span>
        <span>
            <p>Desenvolvido por:</p>
            <img src="/arquivos/logo_vinci.png" class="img-responsivo"/>
        </span>
    </div>
</footer>