/**********************************************************
*********************** AVALIAÃ‡Ã•ES PERSONALIZADO **********
**********************************************************/


/*desnecessarios*/

fieldset#opcoes-avalie,
li.opiniao-ajudou,
li.ver-todos-comentarios,
span.resenha-util-quantidade,
.user-review>h4,
span.email-resenha,
.rating-wrapper strong,
.user-review hr,
.fDivulgaEmail,
p.aviso-resenha {
    display: none !important;
}


/* Posicionamento de itens */

li.opiniaoRating {
    text-align: center;
}

div#resenha {
    position: relative;
    min-height: 260px;
    margin-bottom: 50px;
}

ul.rating {
    position: absolute;
    right: 0;
    top: 0;
}

ul#ulPubliqueResenha {
    position: absolute;
    right: 0;
    top: 245px;
    width: 300px;
    text-align: center;
}

.avalie-produto {
    position: absolute;
    right: 0;
    top: 185px;
    width: 300px;
    font-weight: 500;
    text-align: center;
}

.quem,
p.media {
    width: calc(100% - 400px);
    background: white;
    position: relative;
    z-index: 10;
}

.quem li {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px solid #d2d2d2;
}

.quem li .quem {
    flex: 1;
    max-width: 200px;
}

blockquote.opt-texto {
    word-break: break-word;
    flex: 1;
}


/* COr tamanho etc */

.avaliar {
    display: block;
    border: 2px solid #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
}

.filledRatingStar:before {
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 20px;
    color: #F9CC0D;
    font-style: normal;
    content: "\f005";
    text-decoration: none;
    -webkit-transition: .300s all;
    transition: .300s all;
}

.emptyRatingStar:before {
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 20px;
    color: #F9CC0D;
    font-style: normal;
    content: "\f006";
    text-decoration: none;
    -webkit-transition: .300s all;
    transition: .300s all;
}

.ratingStar {
    font-size: 0;
}

li.opiniaoRating {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

p.opiniaoInfo {
    text-align: center;
    color: #fff;
}

.avaliar a {
    color: #fff;
    text-transform: uppercase;
}

p.media>span {
    font-weight: 900;
    vertical-align: bottom;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 700;
    letter-spacing: 2px;
}

ul.rating {
    background: var(--theme-color-5);
    padding: 10px 20px;
    box-sizing: border-box;
    width: 300px;
}

ul.rating li {
    text-transform: unset;
    color: #d4d4d4;
    font-weight: 300;
    justify-content: space-between;
    margin: 10px 0;
    letter-spacing: 1px;
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
}

ul#ulPubliqueResenha {
    border: 3px solid var(--theme-color-5);
    box-sizing: border-box;
    height: 50px;
    line-height: 42px;
    color: var(--theme-color-5);
}

a#lnkPubliqueResenha {
    color: var(--theme-color-5);
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
}

div#resenha:before {
    top: 50px;
    left: 50%;
    transform: translateX(-77%);
    font-size: 20px;
    font-weight: bold;
}


/*cor das estrelas*/

.rating-produto:before,
.rating-demonstrativo:before,
.rating-wrapper .rating:before {
    color: var(--theme-color-2);
    margin-left: 5px;
}


/**********************************************************
*********************** AVALIAÃ‡Ã•ES PADRÃƒO *****************
**********************************************************/

#reviews ul.rating li .voteRatingBar {
    background: none repeat scroll 0 0 #F5F5F5;
    display: block;
    height: 20px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

#reviews ul.rating li .voteRatingBar span {
    background: none repeat scroll 0 0 #F9CC0D;
    display: block;
    height: 20px;
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
    border-bottom: 3px solid #F9CC0D;
}

#reviews ul.rating li .voteRatingBar+span {
    color: #9B9B9B;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 20px;
}

#reviews ul.rating {
    padding: 0;
}

#reviews ul.rating li {
    clear: both;
    display: block;
    margin: 10px 0;
    max-width: 320px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#reviews ul.rating li em {
    float: left;
    margin-right: 15px;
}

#reviews .avalie-produto {
    display: block;
    padding-top: 20px;
}

#reviews .avalie-produto h5 {
    color: #333;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
}

#reviews .avalie-produto a {
    display: block;
    float: left;
    margin: 10px 0;
}

#reviews hr,
#reviews p.media em span,
#reviews .links-resenha-usuario {
    display: none;
}

#reviews .resenhas {
    padding: 0;
    border-top: 0 none;
    margin: 0;
}

#reviews .resenhas .quem {
    padding: 0;
}

#reviews .resenhas .opiniao-ajudou {
    padding-top: 15px;
    color: #333;
    font-size: 13px;
    font-weight: 300;
}

#reviews .resenhas .opiniao-ajudou {
    padding-top: 15px;
    color: #333;
    font-size: 13px;
    font-weight: 300;
}

#reviews .resenhas .opiniao-ajudou .bts li {
    display: inline-block;
    vertical-align: top;
    margin: 5px 5px 0 0;
}

#reviews .resenhas .opiniao-ajudou .bts li a {
    color: #D0021B;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

#publishUserReview #formUserReview {
    width: 500px;
    background-color: orange;
    border-radius: 4px;
    padding: 10px 20px;
    color: black;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 99999;
}

#publishUserReview #formUserReview .header {
    padding: 0;
    margin: 0;
    color: #fff;
}

#publishUserReview #formUserReview .header .close {
    position: absolute;
    right: 23px;
    top: 10px;
    width: 30px;
    height: 30px;
}

#publishUserReview #formUserReview .header .close a {
    color: #fff;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: block !important;
    line-height: 20px;
    font-size: 0;
    position: relative;
    z-index: 9999;
}

#publishUserReview #formUserReview .footer,
#publishUserReview #formUserReview .header h1 {
    display: none;
}

#publishUserReview #formUserReview label {
    display: block;
    color: #fff;
    margin-bottom: 10px;
}

#publishUserReview #formUserReview input+label {
    display: inline-block;
    vertical-align: middle;
}

#publishUserReview #formUserReview input {
    margin: 0;
}

#publishUserReview #formUserReview input[type=text],
#publishUserReview #formUserReview textarea {
    color: var(--theme-color-1)1;
    background-color: #fff;
    display: inline-block;
    padding: 6px 12px;
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    vertical-align: middle;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 34px;
    width: 100%;
}

#publishUserReview #formUserReview .grp {
    position: relative;
    margin: 10px 0 5px;
}

#publishUserReview #formUserReview .grp span {
    position: absolute;
    top: 5px;
    right: 0;
}

#publishUserReview #formUserReview .ranking {
    display: block;
    margin-top: 15px;
}

#publishUserReview #formUserReview .aviso-resenha {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    line-height: 15px;
}

#reviews .avalie-produto #opcoes-avalie {
    display: block;
    margin: 10px 0;
    width: 100%;
}

#reviews .avalie-produto #opcoes-avalie p strong {
    display: none;
}

#reviews .avalie-produto #opcoes-avalie .firadio {
    margin: 2px 0 0 0;
    vertical-align: top;
}

#reviews .avalie-produto #opcoes-avalie label {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 20px 0 5px;
}

#reviews #formUserReview .avaliar a,
#reviews #lnkPubliqueResenha {
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    min-height: 43px;
    padding: 10px;
    width: 250px;
    text-align: center;
    text-decoration: none;
}

#reviews #formUserReview .avaliar a:hover,
#reviews #formUserReview .avaliar a:active,
#reviews #lnkPubliqueResenha:hover,
#reviews #lnkPubliqueResenha:active {
    color: #fff;
    opacity: .8;
    text-decoration: none;
}

#publishUserReview #formUserReview .header .close::before {
    content: "";
    width: 30px;
    height: 2px;
    background: #fff;
    display: block;
    transform: rotateZ(-45deg) translate(-7px, -2px);
    transform-origin: right;
}

#publishUserReview #formUserReview .header .close:after {
    content: "";
    width: 30px;
    height: 2px;
    background: #fff;
    display: block;
    transform: rotateZ(45deg) translate(-10px, 0px);
    transform-origin: right;
}

.rating-avalie .ratingStar,
.rating-produto {
    font-size: 0;
    line-height: 0;
    color: transparent;
}

.rating-produto:before,
.rating-demonstrativo:before,
.rating-wrapper .rating:before {
    content: "\f006   \f006   \f006   \f006   \f006";
    /* f005 - f006 - f123 */
    font-family: FontAwesome;
    font-size: 18px;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 3px;
}

.rating-avalie a {
    text-decoration: none;
}

.rating-avalie .ratingStar.emptyRatingStar:before,
.rating-avalie .ratingStar.filledRatingStar:before {
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 20px;
    color: var(--theme-color-2);
    font-style: normal;
    content: "\f006";
    text-decoration: none;
    -webkit-transition: .300s all;
    transition: .300s all;
}

.rating-avalie .ratingStar.filledRatingStar:before {
    content: "\f005";
}

.rating-produto.avaliacao50:before,
.rating-produto.a50:before,
.rating-demonstrativo.avaliacao50:before,
.rating-demonstrativo.a50:before,
.rating-wrapper .rating.avaliacao50:before,
.rating-wrapper .rating.a50:before {
    content: "\f005   \f005   \f005   \f005   \f005";
}

.rating-produto.avaliacao45:before,
.rating-produto.a45:before,
.rating-demonstrativo.avaliacao45:before,
.rating-demonstrativo.a45:before,
.rating-wrapper .rating.avaliacao45:before,
.rating-wrapper .rating.a45:before {
    content: "\f005   \f005   \f005   \f005   \f123";
}

.rating-produto.avaliacao40:before,
.rating-produto.a40:before,
.rating-demonstrativo.avaliacao40:before,
.rating-demonstrativo.a40:before,
.rating-wrapper .rating.avaliacao40:before,
.rating-wrapper .rating.a40:before {
    content: "\f005   \f005   \f005   \f005    \f006";
}

.rating-produto.avaliacao35:before,
.rating-produto.a35:before,
.rating-demonstrativo.avaliacao35:before,
.rating-demonstrativo.a35:before,
.rating-wrapper .rating.avaliacao35:before,
.rating-wrapper .rating.a35:before {
    content: "\f005   \f005   \f005   \f123   \f006";
}

.rating-produto.avaliacao30:before,
.rating-produto.a30:before,
.rating-demonstrativo.avaliacao30:before,
.rating-demonstrativo.a30:before,
.rating-wrapper .rating.avaliacao30:before,
.rating-wrapper .rating.a30:before {
    content: "\f005   \f005   \f005   \f006   \f006";
}

.rating-produto.avaliacao25:before,
.rating-produto.a25:before,
.rating-demonstrativo.avaliacao25:before,
.rating-demonstrativo.a25:before,
.rating-wrapper .rating.avaliacao25:before,
.rating-wrapper .rating.a25:before {
    content: "\f005   \f005   \f123   \f006   \f006";
}

.rating-produto.avaliacao20:before,
.rating-produto.a20:before,
.rating-demonstrativo.avaliacao20:before,
.rating-demonstrativo.a20:before,
.rating-wrapper .rating.avaliacao20:before,
.rating-wrapper .rating.a20:before {
    content: "\f005   \f005   \f006   \f006   \f006";
}

.rating-produto.avaliacao15:before,
.rating-produto.a15:before,
.rating-demonstrativo.avaliacao15:before,
.rating-demonstrativo.a15:before,
.rating-wrapper .rating.avaliacao15:before,
.rating-wrapper .rating.a15:before {
    content: "\f005   \f123   \f006   \f006   \f006";
}

.rating-produto.avaliacao10:before,
.rating-produto.a10:before,
.rating-demonstrativo.avaliacao10:before,
.rating-demonstrativo.a10:before,
.rating-wrapper .rating.avaliacao10:before,
.rating-wrapper .rating.a10:before {
    content: "\f005   \f006   \f006   \f006   \f006";
}

.rating-produto.avaliacao5:before,
.rating-produto.a5:before,
.rating-demonstrativo.avaliacao5:before,
.rating-demonstrativo.a5:before,
.rating-wrapper .rating.avaliacao5:before,
.rating-wrapper .rating.a5:before {
    content: "\f123   \f006   \f006   \f006   \f006";
}

.rating-produto.avaliacao0:before,
.rating-produto.a0:before,
.rating-demonstrativo.avaliacao0:before,
.rating-demonstrativo.a0:before,
.rating-wrapper .rating.avaliacao0:before,
.rating-wrapper .rating.a0:before {
    content: "\f006   \f006   \f006   \f006   \f006";
}

@media all and (max-width: 991px) {
    ul.rating,
    .avalie-produto,
    ul#ulPubliqueResenha {
        left: 50%;
        right: unset;
        transform: translateX(-50%);
    }
    ul.rating {
        top: 100px;
    }
    .avalie-produto {
        top: 300px;
    }
    ul#ulPubliqueResenha {
        top: 370px;
    }
    .quem,
    p.media {
        width: 100%;
    }
    ul.resenhas {
        margin-top: 500px;
    }
    p.media {
        text-align: center;
    }
    div#resenha:before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 140px);
    }
    div#resenha {
        min-height: 410px;
    }
}

@media all and (max-width: 567px) {
    .quem li {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    li.considera-util {
        display: none;
    }
    p.media>span {
        font-size: 16px;
    }
}