/* DISPLAY NONE */

p.searchResultsTime,
fieldset.filterBy,
p.compare,
.sub:last-child,
h6.filtro-mobile,
.menu-navegue {
    display: none;
}

.max-container.departamento {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* BREADCRUMB */

aside.department-title {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--theme-color-2);
    width: 100%;
}

.bread-crumb li {
    display: inline-block;
}

.bread-crumb li a {
    color: var(--theme-color-9);
    font-weight: 500;
    font-size: 12px;
}

.bread-crumb li+li::before {
    content: ">";
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 14px;
    margin-right: 5px;
    color: var(--theme-color-9);
}


/* FILTRO LATERAL */

.department-link {
    flex-grow: 1;
    flex: 1.2;
    position: relative;
    padding-right: 20px;
    margin-top: 80px;
    max-width: 225px;
}

.search-single-navigator h3 a,
.search-single-navigator>h5 {
    color: var(--theme-color-2);
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--theme-color-6);
    margin-bottom: 15px;
}

.search-single-navigator h3 a::before {
    display: none;
}

.search-single-navigator a {
    color: var(--theme-color-9);
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 14px;
    display: block;
}

.search-single-navigator a::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--theme-color-9);
    margin-right: 5px;
    cursor: pointer;
}


/*PAGINADOR*/

ul.pages .first,
ul.pages .last {
    display: none;
}

ul.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.department-products .main {
    position: relative;
}

ul.pages .page-number {
    background: white;
    display: block;
    width: 38px;
    text-align: center;
    height: 38px;
    line-height: 38px;
    font-weight: 500;
    font-size: 18px;
    color: #202020;
}

.pager.bottom .pages {
    position: static;
    margin-bottom: 50px;
}

.pager.top {
    display: none;
}

ul.pages .pgCurrent {
    background: var(--theme-color-2);
    color: white;
}

.page-number+.page-number {
    margin-left: 7px;
}

ul.pages .previous {
    font-size: 0;
    display: block;
    width: 10px;
    height: 10px;
    border-left: 3px solid var(--theme-color-9);
    transform: rotate(45deg);
    border-bottom: 3px solid var(--theme-color-9);
    margin-right: 10px;
}

ul.pages .next {
    font-size: 0;
    display: block;
    width: 10px;
    height: 10px;
    border-right: 3px solid var(--theme-color-9);
    transform: rotate(45deg);
    border-top: 3px solid var(--theme-color-9);
    margin-left: 10px;
}


/* GRID PRODUTOS */

.department-products {
    flex-grow: 2;
    flex: 4;
    padding-left: 40px;
    position: relative;
}

fieldset.orderBy label {
    color: var(--theme-color-9);
    font-weight: 500;
    font-size: 12px;
}

select#O {
    border: 1px solid var(--theme-color-1);
    padding: 5px;
    color: var(--theme-color-9);
    font-weight: 500;
    font-size: 12px;
}

select#O option {
    color: #BEBEBE;
    font-weight: 500;
}

.vitrine.resultItemsWrapper {
    margin-top: 58px;
}

.sub {
    text-align: right;
}

.vitrine .vitrine .prateleira {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/**********************************************************
********************** MEDIA QUERY 991PX ******************
**********************************************************/

@media all and (max-width: 991px) {
    .max-container.departamento {
        flex-direction: column;
        align-items: center;
    }
    .department-products {
        padding: 0;
    }
    .toggler-busca {
        display: block;
        text-align: center;
        height: 50px;
        line-height: 50px;
        width: 100%;
        background: var(--theme-color-2);
        font-weight: 300;
        text-transform: uppercase;
        font-size: 18px;
        color: #ffffff;
    }
    .department-link {
        position: fixed;
        width: 100%;
        left: 0;
        height: 100%;
        background: white;
        z-index: 50;
        bottom: calc(-100% + 50px);
        margin: 0;
        box-sizing: border-box;
        max-width: unset;
        padding: 0;
        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .department-link.active {
        bottom: 0;
    }
    .department-reference {
        padding: 20px 15px;
        box-sizing: border-box;
    }
}


/**********************************************************
********************** MEDIA QUERY 767PX ******************
**********************************************************/

@media all and (max-width: 767px) {
    .vitrine .vitrine .prateleira {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


/**********************************************************
********************** MEDIA QUERY 567PX ******************
**********************************************************/

@media all and (max-width: 567px) {
    .vitrine .vitrine .prateleira {
        display: grid;
        grid-template-columns: 1fr;
    }
    .bread-crumb li a {
        font-size: 12px;
    }
}