/**********************************************************
******************** CONTAINER TOPBAR *********************
**********************************************************/

.main-topbar {
    background: var(--theme-color-1);
    padding: 10px 0;
    text-align: right;
    border-bottom: 1px solid var(--theme-color-5);
}

.main-topbar,
.main-topbar a {
    font-weight: 500;
    color: var(--theme-color-1);
    font-size: 11px;
    background: var(--theme-color-4);
}

.pipe {
    margin: 0 10px;
    color: var(--theme-color-5);
}


/**********************************************************
  ***************** CONTAINER MAIN HEAD *********************
  **********************************************************/

.main-head {
    background: var(--theme-color-4);
    position: relative;
    padding: 10px 0;
}

.main-head .max-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.container-logo img {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

.container-search {
    flex: 1;
    text-align: center;
}

.container-search .busca {
    max-width: 450px;
    margin: 0 auto;
}

.container-search .fulltext-search-box {
    border: 1px solid var(--theme-color-6);
    font-weight: 500;
    height: 41px;
    width: 100%;
    max-width: 450px;
    padding: 0px 20px;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--theme-color-1)0;
}

.container-search input::placeholder {
    color: var(--theme-color-1)0;
}

.container-profile-controls a+a {
    margin-left: 40px;
}

.container-search .btn-buscar {
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    width: 30px;
    border: 0;
    background: url("/arquivos/lupa.png") no-repeat;
    background-position: center;
    background-size: 25px;
    font-size: 0;
    box-sizing: border-box;
}

.toggler-cart {
    position: relative;
    display: inline-block;
}

.mini-cart-qty-admake {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #999;
    line-height: 20px;
    border-radius: 50%;
    font-family: fonte-light;
    font-size: 15px;
    color: white;
}


/**********************************************************
  ********************** MENU CONTAINER *********************
  **********************************************************/

.menu-container {
    background: var(--theme-color-2);
    position: relative;
}

.menu-container>.max-container {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr auto 1fr;
}

.line {
    width: 30px;
    height: 4px;
    background: var(--theme-color-1);
    display: block;
    transition: 0.5s;
}

.line+.line {
    margin-top: 4px;
}

.btn-menu.active .line {
    background: var(--theme-color-1);
}

.btn-menu.active .line-1 {
    transform: rotate(45deg) translateX(5px) translateY(6px);
}

.btn-menu.active .line-2 {
    opacity: 0;
}

.btn-menu.active .line-3 {
    transform: rotate(-45deg) translateX(5px) translateY(-6px);
}


/**********************************************************
  ********************** MENU easy **************************
  **********************************************************/

.main-menu li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    transition: 0.5s;
    padding: 0px 30px;
}

.main-menu>li:hover {
    background: var(--theme-color-1);
}

.main-menu li a {
    font-weight: 500;
    color: var(--theme-color-7);
    font-size: 14px;
}

.main-menu>li:hover>a {
    color: var(--theme-color-3);
}

.menu-item .sub-menu {
    position: absolute;
    top: 100%;
    background: white;
    left: 0;
    width: 100%;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    border-bottom: 1px solid var(--theme-color-2);
    padding: 5px 0;
}

.menu-item:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
}

.menu-item .sub-menu a {
    font-weight: 300;
    color: var(--theme-color-2);
    letter-spacing: 1px;
    font-size: 18px;
}

.menu-item .sub-menu .max-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}


/**********************************************************
  ********************** MENU ALL ***************************
  **********************************************************/

.all-title {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    width: 280px;
    transition: 0.5s;
    padding: 0px 10px;
    box-sizing: border-box;
}

.all-title p {
    margin-left: 17px;
    font-weight: 700;
    font-size: 14px;
    color: var(--theme-color-7);
}

.all-title.active {
    background: var(--theme-color-4);
    font-size: 0;
}

.all-title.active::after {
    content: "FECHAR";
    font-weight: 700;
    font-size: 16px;
    color: var(--theme-color-1);
}

.all-title.active p {
    font-size: 0;
}

.all-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    background: white;
    z-index: 50;
    overflow: hidden;
    left: 0;
    border-bottom: 2px solid var(--theme-color-2);
    transition: 0.3s linear;
    visibility: hidden;
    opacity: 0;
}

.all-menu-container:hover .all-menu {
    opacity: 1;
    visibility: visible;
}

.all-menu>.max-container {
    position: relative;
    padding-bottom: 2px;
}

.all-item {
    width: 280px;
    min-height: 40px;
    line-height: 20px;
    background: var(--theme-color-2);
    border-top: 1px solid var(--theme-color-1);
    cursor: pointer;
    padding: 10px 10px;
    box-sizing: border-box;
}

.all-item>a {
    color: var(--theme-color-1);
    font-weight: 400;
    font-size: 18px;
    display: block;
}

.sub-menu-all-item-container {
    position: absolute;
    right: 0;
    width: calc(100% - 300px);
    top: 0;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    padding: 10px 0;
}

.all-item:hover .sub-menu-all-item-container {
    opacity: 1;
    visibility: visible;
}

ul.sub-menu-all-item-container>li {
    margin-right: 15px;
    display: inline-block;
}

ul.sub-menu-all-item-container>li+li {
    margin-left: 0;
}

ul.sub-menu-all-item-container>li a {
    font-weight: 300;
    color: var(--theme-color-5);
    letter-spacing: 1px;
    font-size: 20px;
}

ul.sub-menu-all-item-container>li:hover a {
    color: var(--theme-color-2);
}


/**********************************************************
  ********************** CARRINHO ***************************
  **********************************************************/

.carrinho {
    background: white;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 50;
    border-bottom: 2px solid var(--theme-color-2);
    padding-bottom: 5px;
    display: none;
}

.carrinho .max-container {
    align-items: flex-start;
}

.carrinho-header span {
    font-weight: 700;
    font-size: 23px;
    color: var(--theme-color-1);
}

.carrinho-header img {
    width: 25px;
    filter: brightness(0);
}

.carrinho.loading::after,
.cart-item.loading::after {
    content: '';
    position: absolute;
    z-index: 50;
    background: url("/arquivos/loading.gif") no-repeat rgba(255, 255, 255, 0.5);
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carrinho.loading::after {
    background-size: 150px;
}

.cart-item.loading::after {
    background-size: 50px;
}

.cart-item {
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-rows: auto auto;
    position: relative;
}

.cart-img {
    grid-row: 1 / span 2;
    width: 200px;
    height: 200px;
    border: 1px solid var(--theme-color-9);
    padding: 5px;
    box-sizing: border-box;
}

.cart-item+.cart-item {
    margin-top: 20px;
}

.cart-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-details {
    margin-top: 10px;
    width: 450px;
}

.item-name {
    font-weight: 700;
    color: var(--theme-color-2);
    display: block;
    font-size: 14px;
}

.item-sku-name {
    font-weight: 400;
    font-size: 18px;
}

.item-ref-code,
.item-brand {
    display: block;
    font-weight: 300;
    font-size: 18px;
}

.box-valor {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.box-title {
    display: block;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 5px;
}

.item-price strong {
    font-weight: 700;
    line-height: 14px;
    color: var(--theme-color-2);
}

.btn-remove,
.btn-add {
    background: var(--theme-color-2);
    border: 0;
    color: white;
    padding: 0;
    font-weight: 300;
    height: 20px;
    width: 20px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
}

.item-qtd {
    display: inline-block;
    font-weight: 400;
    width: 20px;
    text-align: center;
}

.btn-delete {
    width: 30px;
    height: 30px;
    border: 1px solid var(--theme-color-9);
    border-radius: 100%;
    font-size: 15px;
    color: var(--theme-color-9);
    text-align: center;
    background: white;
    padding: 0;
    margin-bottom: -1px;
}

.cart-inf {
    position: sticky;
    top: 100px;
    flex: 1;
    max-width: 300px;
}

.mini-cart-totais {
    border: 4px solid var(--theme-color-2);
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.cart-inf .totais>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--theme-color-5);
    padding: 5px;
}

.cart-inf .totais>h6 {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--theme-color-2);
    height: 30px;
    line-height: 30px;
    color: var(--theme-color-2);
}

.totais>div .text {
    font-weight: 400;
    font-size: 18px;
    color: var(--theme-color-5);
}

.totais>div .money {
    font-weight: 300;
    font-size: 18px;
    color: var(--theme-color-2);
    line-height: 18px;
}

.box-total .money {
    font-weight: 700 !important;
    font-size: 13px !important;
}

.mini-cart-botao a {
    text-align: center;
    height: 40px;
    line-height: 40px;
    display: block;
    background: var(--theme-color-2);
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.field-frete {
    font-weight: 300;
    width: 70%;
    padding: 0px 5px;
    box-sizing: border-box;
    height: 40px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid var(--theme-color-2);
    font-size: 18px;
}

.btn-frete {
    height: 40px;
    box-sizing: border-box;
    border: 0;
    background: var(--theme-color-2);
    color: var(--theme-color-1);
    font-weight: 300;
    width: 30%;
    font-size: 18px;
}


/**********************************************************
  ********************** MEDIA QUERY 991PX ******************
  **********************************************************/

@media all and (max-width: 991px) {
    .container-profile-controls a:first-child {
        display: none;
    }
    .container-search {
        position: fixed;
        bottom: 60px;
        width: 100%;
        max-width: 40px;
        z-index: 50;
        right: 0;
        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .container-search.active {
        max-width: 100%;
    }
    .container-search .busca,
    .container-search .fulltext-search-box {
        max-width: unset;
    }
    .toggle-menu.active .line-1 {
        transform: rotate(45deg) translateX(5px) translateY(6px);
    }
    .toggle-menu.active .line-2 {
        opacity: 0;
    }
    .toggle-menu.active .line-3 {
        transform: rotate(-45deg) translateX(5px) translateY(-6px);
    }
    .all-menu-container {
        display: none;
    }
    .menu-container {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        width: 100%;
        max-width: 400px;
        height: 100%;
        overflow-y: auto;
        transition: 0.5s;
    }
    .menu-container.active {
        right: 0;
    }
    .menu-container>.max-container {
        grid-template-columns: 1fr;
        padding-bottom: 250px;
    }
    .main-menu li {
        display: block;
        height: unset;
        min-height: 40px;
        padding: 0;
        position: relative;
    }
    .main-menu>li+li {
        margin-left: 0;
        border-top: 1px solid var(--theme-color-4);
    }
    .all-title p {
        margin: 0;
    }
    .open-sub {
        width: 40px;
        height: 40px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 0;
        border-left: 1px solid white;
    }
    .open-sub::after {
        content: "";
        border-top: 10px solid white;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        display: block;
        width: 0;
    }
    .menu-item .sub-menu {
        position: static;
        visibility: visible;
        opacity: 1;
        transition: unset;
        border: 0;
        display: none;
    }
    .main-menu li:hover {
        background: unset;
    }
    .menu-item .sub-menu .max-container {
        flex-direction: column;
        display: flex;
        text-align: left;
    }
    .main-menu li:hover>a {
        color: var(--theme-color-4);
    }
    .box-shadow {
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 50;
        display: none;
    }
    .menu-open {
        overflow: hidden;
    }
    .carrinho .max-container {
        flex-direction: column;
        align-items: center;
    }
    .carrinho-header.max-container {
        flex-direction: row;
    }
    .cart-inf {
        width: 100%;
        margin-top: 40px;
    }
}


/**********************************************************
  ********************** MEDIA QUERY 767PX ******************
  **********************************************************/

@media all and (max-width: 767px) {
    .main-topbar,
    .main-topbar a {
        text-align: center;
    }
    .cart-item {
        grid-template-columns: auto;
        grid-template-rows: auto;
        border: 1px solid #F7F7F7;
        padding-top: 10px;
    }
    .cart-img {
        display: block;
        margin: 10px auto;
        border: 0;
        padding: 0;
    }
    .cart-details {
        text-align: center;
    }
    .box-valor {
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin-bottom: 20px;
        background: #F7F7F7;
        margin: 10px 0;
        padding: 10px 0;
        margin-bottom: 0;
    }
    .box-valor>* {
        margin: 10px 0;
    }
    .btn-delete::after {
        content: "REMOVER ITEM";
        font-size: 15px;
    }
    .btn-delete {
        width: unset;
        height: 40px;
        border: 1px solid var(--theme-color-9);
        border-radius: 5px;
        font-size: 0;
        color: var(--theme-color-9);
        text-align: center;
        background: transparent;
        padding: 0 10px;
    }
}


/**********************************************************
  ********************** MEDIA QUERY 567PX ******************
  **********************************************************/

@media all and (max-width: 767px) {
    .container-logo img {
        width: 80px;
    }
    .main-topbar {
        display: none;
    }
    .container-profile-controls {
        text-align: right;
    }
}

@media all and (max-width: 567px) {
    .menu-item p {
        max-width: 150px;
        line-height: 40px;
    }
}

@media all and (max-width: 375px) {
    .menu-container {
        max-width: 260px;
    }
}