/****************************************************************
************************* vitrine box ***************************
****************************************************************/

.box-item {
    margin: 0 auto;
    background: white;
    width: calc(100% - 10px);
    box-sizing: border-box;
    display: block;
    padding: 0px 15px;
    padding-bottom: 10px;
    position: relative;
    transition: 0.3s;
    margin-bottom: 80px;
    border: 4px solid #ffffff;
    border-bottom: unset;
}

.box-item:hover {
    border-bottom: unset;
    border: 4px solid var(--theme-color-1);
}

.box-item .product-image {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.box-item .product-image img {
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.box-item .product-name {
    display: block;
    height: 45px;
    overflow: hidden;
    margin-bottom: 15px;
}

.box-item .product-name a {
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-6);
}

.box-item .old-price {
    display: block;
    font-weight: 500;
    font-size: 14px;
    height: 17px;
    color: #707070;
    text-decoration: line-through;
}

.box-item .best-price {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: #3D3972;
    height: 24px;
}

.box-item .installment {
    font-weight: 500;
    font-size: 15px;
    color: #707070;
    height: 17px;
    margin-bottom: 10px;
    display: block;
}

.wrapper-buy-button-asynchronous a,
.out-of-stock {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    height: 40px;
    display: block;
    text-align: center;
    width: calc(100% + 8px);
    background: var(--theme-color-1);
    left: 0;
    margin-left: -4px;
    line-height: 40px;
    border: 0;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.box-item:hover .wrapper-buy-button-asynchronous a,
.box-item:hover .out-of-stock {
    visibility: visible;
    opacity: 1;
}

.vitrine-css .title-vitrine {
    display: block;
    margin-bottom: 32px;
    color: var(--theme-color-1);
}

.vitrine-css .title-vitrine p {
    font-weight: 700;
    font-size: 24px;
    color: var(--theme-color-11);
    text-align: center;
}

.vitrine-css .owl-next {
    right: -10px !important;
}

.vitrine-css .owl-prev {
    left: -10px !important;
}

.box-item .discount {
    position: absolute;
    top: 0;
    right: 0;
}

.box-item .discount p {
    background: var(--theme-color-1);
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 300;
    color: var(--theme-color-7);
    letter-spacing: 1px;
    padding: 5px 10px;
}